body {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(to right, black, green);
}

input[type="submit"] {
    border-radius: 5px;
}
