.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
}

.container h1 {
  margin-bottom: 10px; /* Vous pouvez ajuster cette valeur selon vos besoins */
  font-family: 'Helvetica';
  color: #fff;
}

.centered-title {
  text-align: center;
  margin: 0; /* Pour enlever la marge par défaut du navigateur pour le titre */
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(bg_index.jpg);
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-family: "Helvetica";
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(34, 0, 245);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(34, 0, 255);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
